.items {
  @apply absolute top-16 w-full rounded-md bg-neutrals-white dark:bg-dark-blue py-2 mt-2 opacity-0 drop-shadow-md z-10;

  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  transition: all .25s ease;
}

.is-open + .items {
  @apply opacity-100;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}